<div
    class='fixed-action-btn'
    id='fixed1'
    data-mdb-button-init
    data-mdb-ripple-init
>
    <a
        class='btn btn-floating text-white btn-lg'
        data-mdb-button-init
        data-mdb-ripple-init
        style='background-color: #f44336;'
    >
        <i class='fa-solid fa-phone'></i>
    </a>

    <ul class='list-unstyled'>
        <li>
            <a
                class='btn text-white btn-floating btn-lg'
                data-mdb-button-init
                data-mdb-ripple-init
                style='background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);'
            ><i class='fa-brands fa-instagram'></i></a>
        </li>
        <li>
            <a
                class='btn text-white btn-floating btn-lg'
                data-mdb-button-init
                data-mdb-ripple-init
                style='background: linear-gradient(45deg, #00B2FF, #006AFF)'
            ><i class='fa-brands fa-facebook-messenger'></i></a>
        </li>
        <li>
            <a
                class='btn text-white btn-floating btn-lg d-flex align-items-center justify-content-center'
                data-mdb-button-init
                data-mdb-ripple-init
                style='background-color: #2196f3;'
            >
                <img
                    src='https://img.icons8.com/color/48/zalo.png'
                    alt='Zalo'
                    width='20'
                    height='20'
                    style='object-fit: contain;'
                />
            </a>
        </li>
    </ul>
</div>