<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light"
    style="background-color: #ffffff; box-shadow: 0 2px 8px rgba(0,0,0,0.08);">
    <div class="container-fluid">
        <!-- Toggle button -->
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars" style="color: #C19977; font-size: 24px;"></i>
        </button>

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img src="/img/logo1.png" height="30" alt="NTPQ Logo" loading="lazy" />
        </a>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <i class="fa-solid fa-bars me-3" id="icon-navbar" style="color: #C19977; font-size: 24px;"></i>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav me-auto mb-4 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="/">Trang Chủ</a>
                </li>

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Nội thất phòng khách
                    </a>
                    <ul class="dropdown-menu p-2 bg-light" aria-labelledby="sofaDropdown" style="min-width: 670px;">
                        <div class="row gx-0">
                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Ghế & Sofa</a></li>
                                <li><a class="dropdown-item" href="#">Sofa Băng</a></li>
                                <li><a class="dropdown-item" href="#">Sofa góc</a></li>
                                <li><a class="dropdown-item" href="#">Sofa Đơn</a></li>
                                <li><a class="dropdown-item" href="#">Ghế Bành</a></li>
                                <li><a class="dropdown-item" href="#">Ghế Thư Giãn</a></li>

                            </div>
                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Kệ, Bàn & Tủ</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Trưng Bày</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Trang Trí</a></li>
                                <li><a class="dropdown-item" href="#">Bàn Trà</a></li>
                                <li><a class="dropdown-item" href="#">Kệ Sách</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Giày</a></li>

                            </div>
                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Trang Trí & Thiết Bị</a></li>
                                <li><a class="dropdown-item" href="#">Đèn Trần</a></li>
                                <li><a class="dropdown-item" href="#">Đồng Hồ</a></li>
                                <li><a class="dropdown-item" href="#">Tranh Treo Tường</a></li>
                                <li><a class="dropdown-item" href="#">Thảm Trải Sàn</a></li>
                                <li><a class="dropdown-item" href="#">Rèm Cửa</a></li>
                            </div>
                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Thiết Bị Điện Tử</a></li>
                                <li><a class="dropdown-item" href="#">Tivi</a></li>
                                <li><a class="dropdown-item" href="#">Dàn Âm Thanh</a></li>
                                <li><a class="dropdown-item" href="#">Máy Chiếu</a></li>
                                <li><a class="dropdown-item" href="#">Quạt Trần</a></li>
                                <li><a class="dropdown-item" href="#">Máy Lọc Không Khí</a></li>
                            </div>
                        </div>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Nội thất phòng ngủ
                    </a>
                    <ul class="dropdown-menu p-2 bg-light" aria-labelledby="sofaDropdown" style="min-width: 670px;">
                        <div class="row gx-0">
                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Giường & Phụ Kiện</a></li>
                                <li><a class="dropdown-item" href="#">Giường Ngủ</a></li>
                                <li><a class="dropdown-item" href="#">Nệm</a></li>
                                <li><a class="dropdown-item" href="#">Gối</a></li>
                                <li><a class="dropdown-item" href="#">Chăn Ga</a></li>
                                <li><a class="dropdown-item" href="#">Tấm Bảo Vệ Nệm</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Tủ & Kệ</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Quần Áo</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Đầu Giường</a></li>
                                <li><a class="dropdown-item" href="#">Bàn Trang Điểm</a></li>
                                <li><a class="dropdown-item" href="#">Kệ Treo Tường</a></li>
                                <li><a class="dropdown-item" href="#">Giá Sách Nhỏ</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Trang trí & Tiện ích</a></li>
                                <li><a class="dropdown-item" href="#">Đèn Ngủ</a></li>
                                <li><a class="dropdown-item" href="#">Rèm Cửa</a></li>
                                <li><a class="dropdown-item" href="#">Gương Soi</a></li>
                                <li><a class="dropdown-item" href="#">Tranh Ảnh</a></li>
                                <li><a class="dropdown-item" href="#">Thảm Trải Sàn</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Thiết Bị Hỗ Trợ</a></li>
                                <li><a class="dropdown-item" href="#">Điều Hòa</a></li>
                                <li><a class="dropdown-item" href="#">Quạt Trần</a></li>
                                <li><a class="dropdown-item" href="#">Lọc Không Khí</a></li>
                                <li><a class="dropdown-item" href="#">Loa Bluetooth</a></li>
                                <li><a class="dropdown-item" href="#">Đèn Âm Trần</a></li>
                            </div>

                        </div>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Nội thất bếp
                    </a>
                    <ul class="dropdown-menu p-2 bg-light" aria-labelledby="sofaDropdown" style="min-width: 670px;">
                        <div class="row gx-0">
                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Tủ & Kệ</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Bếp Trên/Dưới</a></li>
                                <li><a class="dropdown-item" href="#">Kệ Treo Tường</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Đựng Bát Đĩa</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Ly</a></li>
                                <li><a class="dropdown-item" href="#">Kệ Gia Vị</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Bàn & Ghế</a></li>
                                <li><a class="dropdown-item" href="#">Bàn Ăn</a></li>
                                <li><a class="dropdown-item" href="#">Ghế Ăn</a></li>
                                <li><a class="dropdown-item" href="#">Bar, Đảo Bếp</a></li>
                                <li><a class="dropdown-item" href="#">Ghế Bar</a></li>
                                <li><a class="dropdown-item" href="#">Bàn Bếp Đa Năng</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Thiết Bị Nhà Bếp</a></li>
                                <li><a class="dropdown-item" href="#">Bếp Ga</a></li>
                                <li><a class="dropdown-item" href="#">Bếp Từ</a></li>
                                <li><a class="dropdown-item" href="#">Lò Nướng</a></li>
                                <li><a class="dropdown-item" href="#">Máy Hút Mùi</a></li>
                                <li><a class="dropdown-item" href="#">Máy Rửa Bát</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Phụ Kiện & Trang Trí</a></li>
                                <li><a class="dropdown-item" href="#">Cây Gia Vị</a></li>
                                <li><a class="dropdown-item" href="#">Vòi Nước</a></li>
                                <li><a class="dropdown-item" href="#">Đèn Bếp</a></li>
                                <li><a class="dropdown-item" href="#">Thảm Chống Trơn</a></li>
                                <li><a class="dropdown-item" href="#">Rèm Cửa Sổ</a></li>
                            </div>
                        </div>
                    </ul>
                </li>

                <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Nội thất văn phòng
                    </a>
                    <ul class="dropdown-menu p-2 bg-light" aria-labelledby="sofaDropdown" style="min-width: 670px;">
                        <div class="row gx-0">
                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Bàn & Ghế</a></li>
                                <li><a class="dropdown-item" href="#">Bàn Làm Việc</a></li>
                                <li><a class="dropdown-item" href="#">Ghế Văn Phòng</a></li>
                                <li><a class="dropdown-item" href="#">Bàn Họp</a></li>
                                <li><a class="dropdown-item" href="#">Bàn Lễ Tân</a></li>
                                <li><a class="dropdown-item" href="#">Ghế Sofa Tiếp Khách</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Tủ & Kệ Lưu Trữ</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Hồ Sơ Tài Liệu</a></li>
                                <li><a class="dropdown-item" href="#">Kệ Sách</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Giày Và Tủ Cây</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Phụ</a></li>
                                <li><a class="dropdown-item" href="#">Tủ Giám Đốc</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Thiết Bị Hỗ Trợ</a></li>
                                <li><a class="dropdown-item" href="#">Máy Tính</a></li>
                                <li><a class="dropdown-item" href="#">Máy In</a></li>
                                <li><a class="dropdown-item" href="#">Máy Photocopy</a></li>
                                <li><a class="dropdown-item" href="#">Máy Chiếu</a></li>
                                <li><a class="dropdown-item" href="#">Điện Thoại Bàn</a></li>
                            </div>

                            <div class="col-3">
                                <li><a class="dropdown-item bold-text" href="#">Trang Trí & Tiện Ích</a></li>
                                <li><a class="dropdown-item" href="#">Đèn Bàn</a></li>
                                <li><a class="dropdown-item" href="#">Cây Xanh</a></li>
                                <li><a class="dropdown-item" href="#">Rèm Cửa</a></li>
                                <li><a class="dropdown-item" href="#">Tranh Trang Trí</a></li>
                                <li><a class="dropdown-item" href="#">Đồng Hồ Treo Tường</a></li>
                            </div>
                        </div>
                    </ul>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="/interior-design">Thiết Kế Nội Thất</a>
                </li>

            </ul>
        </div>

        <!-- Right elements -->
        <div class="d-flex align-items-center">
            <!-- Search form - Desktop -->
            <div class="search-container d-none d-lg-block">
                <form class="d-flex position-relative">
                    <input class="form-control search-input rounded-pill" type="search" placeholder="Tìm sản phẩm"
                        aria-label="Search">
                    <button class="btn search-btn position-absolute end-0 top-50 translate-middle-y" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>

            <!-- Search Icon - Mobile -->
            <div class="d-lg-none">
                <button class="btn" id="mobile-search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>

            <!-- Cart -->
            <div class="mx-2" id="cart-container">
                <a class="text-dark d-flex align-items-center" id="cart-icon" role="button" tabindex="0"
                    style="cursor: pointer;">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="badge rounded-pill bg-danger cart-badge">1</span>
                </a>
            </div>
            
            {{>modalCart}}

            <!-- Login Button - Desktop -->
            <a class="btn text-black d-none d-lg-flex align-items-center" id="login-btn-desktop" data-mdb-ripple-init
                style="border-radius: 75px; white-space: nowrap; background-color: #C19977; border-color: #C19977;" role="button">
                <i class="fa-solid fa-right-to-bracket me-2"></i>Đăng Nhập
            </a>
            <!-- Login Icon - Mobile -->
            <a class="btn d-lg-none" id="login-btn-mobile" role="button">
                <i class="fa-solid fa-right-to-bracket"></i>
            </a>
        </div>
    </div>
</nav>

<!-- Search Modal for Mobile -->
<div class="modal fade" id="searchModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header border-0">
                <form class="d-flex position-relative w-100">
                    <input class="form-control search-input rounded-pill" type="search" placeholder="Tìm sản phẩm"
                        aria-label="Search" autofocus>
                    <button class="btn search-btn position-absolute end-0 top-50 translate-middle-y" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button type="button" class="btn-close ms-2" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <!-- Kết quả tìm kiếm sẽ hiển thị ở đây -->
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy các phần tử DOM
        const loginBtnDesktop = document.getElementById("login-btn-desktop");
        const loginBtnMobile = document.getElementById("login-btn-mobile");
        const loginModal = document.getElementById("loginModal");
        const closeLoginBtn = document.querySelector("#loginModal .btn-close");
        const signupBtn = document.getElementById("signup-btn");
        const signupModal = document.getElementById("signupModal");
        const closeSingUpBtn = document.querySelector("#signupModal .btn-close");
        const openLoginBtn = document.getElementById("openLogin");
        const iconNavbar = document.querySelector("#icon-navbar");
        const cartIcon = document.getElementById("cart-icon");
        const cartModalEl = document.getElementById("cartModal");
        const navbarToggler = document.querySelector(".navbar-toggler");
        const navbarCollapse = document.querySelector(".navbar-collapse");
        const closeButton = document.createElement("button");

        // Tạo nút đóng
        closeButton.className = "btn-close position-absolute top-0 end-0 m-3";
        closeButton.setAttribute("aria-label", "Close");
        closeButton.style.display = "none";

        if (navbarCollapse) {
            navbarCollapse.appendChild(closeButton);
        }

        // Xử lý modal login/signup
        function setupModalHandlers(modal, triggerBtns, closeBtn) {
            if (modal) {
                modal.style.display = "none";
                modal.setAttribute("aria-hidden", "true");
                modal.setAttribute("tabindex", "-1");

                // Xử lý nhiều nút trigger
                if (Array.isArray(triggerBtns)) {
                    triggerBtns.forEach(btn => {
                        btn?.addEventListener("click", function () {
                            modal.classList.add("show");
                            modal.style.display = "block";
                            modal.removeAttribute("aria-hidden");
                            modal.removeAttribute("tabindex");
                            document.body.style.overflow = "hidden";
                        });
                    });
                }

                // Xử lý đóng modal khi click nút close
                closeBtn?.addEventListener("click", function () {
                    closeAllModals();
                });

                // Xử lý đóng modal khi click ra ngoài
                modal.addEventListener("click", function (event) {
                    if (event.target === modal) {
                        closeAllModals();
                    }
                });
            }
        }

        // Hàm đóng tất cả modal
        function closeAllModals() {
            const modals = [loginModal, signupModal];
            modals.forEach(modal => {
                if (modal) {
                    modal.classList.remove("show");
                    modal.style.display = "none";
                    modal.setAttribute("aria-hidden", "true");
                    modal.setAttribute("tabindex", "-1");
                }
            });
            document.body.style.overflow = "";
        }

        // Truyền cả hai nút đăng nhập (desktop và mobile) vào mảng
        setupModalHandlers(loginModal, [loginBtnDesktop, loginBtnMobile], closeLoginBtn);
        setupModalHandlers(signupModal, [signupBtn], closeSingUpBtn);

        openLoginBtn?.addEventListener("click", function (event) {
            event.preventDefault();
            closeAllModals();
            if (loginModal) {
                loginModal.classList.add("show");
                loginModal.style.display = "block";
                loginModal.removeAttribute("aria-hidden");
                document.body.style.overflow = "hidden";
            }
        });

        // Xử lý Bootstrap Modal
        document.querySelectorAll(".modal").forEach((modal) => {
            modal.addEventListener("show.bs.modal", function () {
                modal.removeAttribute("aria-hidden");
                modal.style.display = "block";
            });
            modal.addEventListener("hidden.bs.modal", function () {
                modal.setAttribute("aria-hidden", "true");
                modal.style.display = "none";
            });
        });

        // Xử lý icon navbar
        iconNavbar?.addEventListener("click", function () {
            this.classList.toggle("fa-bars");
            this.classList.toggle("fa-times");
        });

        // Xử lý giỏ hàng
        if (cartIcon && cartModalEl) {
            const cartModal = new bootstrap.Modal(cartModalEl);
            cartIcon.addEventListener("click", function (e) {
                e.preventDefault();
                cartModal.show();
            });
        }

        // Xử lý menu trên mobile
        if (navbarToggler && navbarCollapse) {
            const body = document.body;
            const overlay = document.createElement("div");
            overlay.className = "navbar-overlay";
            body.appendChild(overlay);

            function closeMenu() {
                navbarCollapse.classList.remove("show");
                overlay.classList.remove("show");
                body.style.overflow = "";
                if (iconNavbar) {
                    iconNavbar.classList.remove("fa-times");
                    iconNavbar.classList.add("fa-bars");
                }
                // Thêm xử lý cho nút toggle
                if (navbarToggler) {
                    navbarToggler.setAttribute("aria-expanded", "false");
                }
            }

            function toggleMenu() {
                const isExpanded = navbarCollapse.classList.contains("show");
                navbarCollapse.classList.toggle("show");
                overlay.classList.toggle("show");
                body.style.overflow = !isExpanded ? "hidden" : "";
                if (iconNavbar) {
                    iconNavbar.classList.toggle("fa-bars");
                    iconNavbar.classList.toggle("fa-times");
                }
                // Cập nhật trạng thái của nút toggle
                if (navbarToggler) {
                    navbarToggler.setAttribute("aria-expanded", !isExpanded);
                }
            }

            // Xử lý click vào overlay
            overlay.addEventListener("click", function(e) {
                if (e.target === overlay) {
                    closeMenu();
                }
            });

            navbarToggler.addEventListener("click", toggleMenu);
            closeButton.addEventListener("click", closeMenu);

            // Thêm xử lý cho icon navbar
            iconNavbar?.addEventListener("click", toggleMenu);

            // Thêm xử lý cho các link trong menu
            const navLinks = navbarCollapse.querySelectorAll('.nav-link:not(.dropdown-toggle)');
            navLinks.forEach(link => {
                link.addEventListener('click', function() {
                    // Chỉ đóng menu nếu đang ở chế độ mobile và link không phải là dropdown
                    if (window.innerWidth < 992 && !this.classList.contains('dropdown-toggle')) {
                        closeMenu();
                    }
                });
            });
        }

        // Xử lý modal tìm kiếm trên mobile
        const mobileSearchBtn = document.getElementById("mobile-search-btn");
        const searchModalEl = document.getElementById("searchModal");

        if (mobileSearchBtn && searchModalEl) {
            const searchModal = new bootstrap.Modal(searchModalEl);
            mobileSearchBtn.addEventListener("click", function () {
                searchModal.show();
                searchModalEl.addEventListener("shown.bs.modal", function () {
                    const searchInput = searchModalEl.querySelector('input[type="search"]');
                    if (searchInput) {
                        searchInput.focus();
                    }
                });
            });
        }
    });
</script>

<style>
    /* Ẩn icon menu trên desktop */
    @media (min-width: 992px) {
        #icon-navbar {
            display: none !important;
        }
    }

    .cart-badge {
        position: relative;
        top: -8px;
        /* Đẩy badge lên trên */
        right: -5px;
        /* Điều chỉnh vị trí ngang nếu cần */
        padding: 4px 8px;
        /* Tăng padding để bo tròn hơn */
        font-size: 12px;
        /* Giảm kích thước chữ nếu cần */
        border-radius: 50%;
        /* Bo tròn hoàn toàn */
        min-width: 22px;
        /* Giữ hình dạng tròn ổn định */
        min-height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar {
        background: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 600;
        color: #C19977;
    }

    .nav-link {
        color: #4b5563;
        font-weight: 500;
        padding: 0.5rem 1rem;
        transition: all 0.3s ease;
    }

    .nav-link:hover {
        color: #C19977;
    }

    .dropdown-menu {
        border: none;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
        color: #4b5563;
        transition: all 0.2s;
    }

    .dropdown-item:hover {
        background: #f3f4f6;
        color: #C19977;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .navbar-toggler {
        padding: 0.5rem;
        transition: all 0.3s ease;
    }

    .navbar-toggler:hover {
        transform: scale(1.1);
    }

    .navbar-toggler:active i {
        color: #9b7b5f !important;
    }

    .btn-close {
        background-color: #C19977;
        opacity: 1;
        transition: all 0.3s ease;
    }

    .btn-close:hover {
        opacity: 0.8;
        transform: scale(1.1);
    }

    .btn-close:active {
        background-color: #9b7b5f !important;
    }

    /* Tùy chỉnh màu cho các button khác */
    .btn-primary {
        background-color: #C19977;
        border-color: #C19977;
    }

    .btn-primary:hover {
        background-color: #b38a68;
        border-color: #b38a68;
    }

    .btn-primary:active {
        background-color: #9b7b5f !important;
        border-color: #9b7b5f !important;
    }

    .btn-outline-secondary:active {
        background-color: #C19977 !important;
        border-color: #C19977 !important;
        color: white !important;
    }

    #login-btn:active {
        background-color: #f0f0f0 !important;
    }

    @media (max-width: 991.98px) {
        .navbar-collapse {
            background: white;
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            width: 280px;
            padding: 2rem;
            transform: translateX(-100%);
            transition: transform 0.3s ease-in-out;
            overflow-y: auto;
            z-index: 1000;
        }

        .navbar-collapse.show {
            transform: translateX(0);
        }

        .navbar-nav {
            margin-top: 1rem;
        }

        .nav-item {
            margin: 0.5rem 0;
            width: 100%;
        }

        .dropdown-menu {
            box-shadow: none;
            border-left: 2px solid #C19977;
            padding-left: 1rem;
            min-width: 100% !important;
            position: static !important;
            transform: none !important;
            background: transparent;
        }

        .dropdown-menu .row {
            flex-direction: column;
        }

        .dropdown-menu .col-3 {
            width: 100%;
            max-width: 100%;
            flex: 0 0 100%;
            padding: 0;
        }

        .dropdown-menu .col-3:not(:last-child) {
            margin-bottom: 1rem;
        }

        .dropdown-item {
            padding: 0.5rem 0;
            white-space: normal;
        }

        .dropdown-item.bold-text {
            font-weight: 600;
            color: #C19977;
            margin-top: 0.5rem;
        }

        .dropdown-toggle::after {
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    /* Search styles */
    .search-container {
        max-width: 300px;
        margin: 0 1rem;
    }

    .search-input {
        height: 40px;
        padding-right: 40px;
    }

    .search-btn {
        background: transparent;
        border: none;
        color: #C19977;
        padding: 0.5rem 1rem;
    }

    /* Mobile styles */
    @media (max-width: 991.98px) {
        .navbar {
            padding: 0.5rem;
        }

        .navbar-brand img {
            height: 25px;
        }

        #mobile-search-btn,
        #login-btn-mobile {
            padding: 0.5rem;
            color: #4b5563;
        }

        #mobile-search-btn:hover,
        #login-btn-mobile:hover {
            color: #C19977;
        }

        .navbar>.container-fluid {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }

        .d-flex.align-items-center {
            gap: 0.5rem;
        }

        #cart-container {
            margin: 0 0.5rem;
        }
    }

    /* Search Modal styles */
    #searchModal .modal-header {
        padding: 0.5rem;
    }

    #searchModal .search-input {
        border: 1px solid #dee2e6;
    }

    #searchModal .btn-close {
        padding: 0.5rem;
    }

    /* Thêm CSS cho overlay */
    .navbar-overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }

    .navbar-overlay.show {
        display: block;
    }
</style>