{{! <div class="dropdown">
    <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
        role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Avatar"
            loading="lazy" />
    </a>
    <ul class="dropdown-menu dropdown-menu-end mx-3" aria-labelledby="navbarDropdownMenuAvatar">
        <li><a class="dropdown-item" href="#">Thông Tin Tài Khoản</a></li>
        <li><a class="dropdown-item" href="#">Cài Đặt</a></li>
        <li><a class="dropdown-item" href="#">Đăng Xuất</a></li>
    </ul>
</div> }}
{{>header}}
{{>modalLogin}}
{{>modalSignup}}
{{>HeroSection}}
{{>productGallery}}
{{>productCollection}}
{{>slideBar}}
{{>SupportForm}}
{{>contact}}
{{>footer}}